{% extends "master.html" %}
{% block title %}Liste Cas par région{% endblock %}

{% block content %}

<main>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="liste_region.html">Liste des cas par région</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="liste_admin.html">Liste des cas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gestion_cas/creer">Saisir un cas</a>
            </li>
        </ul>
    </nav>
    <h1>Liste Cas par région</h1>
    <table class='table'>
        <tr>
            <th>Région</th>
            <th>Cas</th>
        </tr>
        <tr>
            <td>Capitale-Nationale</td>
            <td>123</td>
        </tr>
        <tr>
            <td>Centre-du-Québec</td>
            <td>2</td>
        </tr>
        <tr>
            <td colspan="2">...</td>
        </tr>
        <tr>
            <td>Outaouais</td>
            <td>3</td>
        </tr>
    </table>
</main>

{% endblock %}