{% extends "master.html" %}
{% block title %}Liste Cas par région{% endblock %}

{% block content %}

<body>
    <h1>Liste Cas par région</h1>
    <table class='table'>
        <tr>
            <th>Région</th>
            <th>Cas</th>
        </tr>
        <tr>
            <td>Capitale-Nationale</td>
            <td>123</td>
        </tr>
        <tr>
            <td>Centre-du-Québec</td>
            <td>2</td>
        </tr>
        <tr>
            <td colspan="2">...</td>
        </tr>
        <tr>
            <td>Outaouais</td>
            <td>3</td>
        </tr>
    </table>
</body>

{% endblock %}