{% extends "master.html" %}
{% block title %}Liste - Admin{% endblock %}

{% block content %}

<body class="container">

  <h1>Liste des cas</h1>
  <table class='table'>
    <tr>
      <th>Date</th>
      <th>Région</th>
      <th>Initiales</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>2020-11-08</td>
      <td>Capitale-Nationale</td>
      <td>PF</td>
      <td><a href='#'>Supprimer</a></td>
    </tr>
    <tr>
      <td>2020-12-08</td>
      <td>Capitale-Nationale</td>
      <td>JJ</td>
      <td><a href='#'>Supprimer</a></td>
    </tr>
  </table>

</body>

{% endblock %}