{% extends "master.html" %}
{% block title %}Liste - Région{% endblock %}

{% if regions is not defined %}
{% set regions = [] %}
{% endif %}

{% block content %}

<h1>Liste des cas</h1>
<p>Note : ces nombres doivent être régionalisés</p>
<table class="table">
  <tr>
    <th>Région</th>
    <th>Nombre</th>
  </tr>
  {% for region in regions %}
  <tr>
    <td>{{region.nom}}</td>
    <td>{{number(region.cas | length, locale=lang)}}</td>
  </tr>
  {% endfor %}
</table>


{% endblock %}