{% extends "master.html" %}
{% block title %}Liste - Admin{% endblock %}

{% if lesCas is not defined %}
{% set lesCas = {} %}
{% endif %}

{% block content %}
<h1>Liste des cas</h1>
<table class='table'>
  <tr>
    <th>Date</th>
    <th>Région</th>
    <th>Initiales</th>
    <th>Action</th>
  </tr>
  <form method="post">
    {% for cas in lesCas %}
    <tr>
      <td>{{cas.date}}</td>
      <td>{{regions.query.filter_by(id=cas.region_id).first().nom}}</td>
      <td>{{cas}}</td>
      <td><button formaction="/cas/{{cas.id}}/delete" type="submit">Supprimer</button></td>
    </tr>
    {% endfor %}
  </form>
</table>


{% endblock %}